body {
    padding: 0;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}

#map {
    position: absolute;
    right: 0px;
    left: 340px;
    height: 100%;
    top: 0;
}

#sidebar {
    position: absolute;
    left: 0px;
    width: 300px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
}

#filter-status {
    word-wrap: break-word;
}

.tab {
    margin-left: 40px;
    color: darkslategray;
}

.inputbox{
  margin-top: 5px;
  background-color: #FFFAF0;
}

.infobox{
  font: Courier;
  color: #BA4A00;
}
